/* COLUMN_1 */
#app .jumbotron .col-md:nth-child(1) .wrapper_img {
  width: 70%;
  filter: grayscale(70%) brightness(20%) blur(1.5px);
  transition: 500ms;
  transform: scale(-1, 1);

  &:hover {
    filter: grayscale(0%) brightness(100%) blur(0);
    cursor: grab;
    transform: scale(1, 1);
  }
}

/* COLUMN_2 */
#app .jumbotron .col-md:nth-child(2) {
  display: flex;
  align-items: center;

  .container {
    padding: 50px;
    border-radius: 10px;

    h1 {
      font-size: 3vmax;
      font-family: fontGriffy;
    }

    p {
      font-size: 1.2vmax;
      font-family: fontRobotoSlab;
    }

    /* BUTTON */
    .jumbotron__BtnL {
      position: absolute;
      left: 0;
      top: 45%;

      svg {
        cursor: pointer;
        position: relative;
        background-color: rgb(0, 0, 0);
        border-radius: 20%;
        opacity: 30%;
        width: 2.5vmax;
        height: 2.5vmax;
        transition: 500ms;

        &:hover {
          transform: translate(-5px);
          opacity: 100%;
        }
      }
    }

    .jumbotron__BtnR {
      position: absolute;
      right: 0;
      top: 45%;

      svg {
        cursor: pointer;
        position: relative;
        background-color: rgb(0, 0, 0);
        border-radius: 20%;
        opacity: 30%;
        width: 2.5vmax;
        height: 2.5vmax;
        transition: 500ms;

        &:hover {
          transform: translate(5px);
          opacity: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  /* COLUMN_1 */
  #app .jumbotron .col-md:nth-child(1) .wrapper_img {
    width: 100%;
  }

  /* COLUMN_2 */
  #app .jumbotron .col-md:nth-child(2) .container {
    h1 {
      font-size: 3.5vmax;
    }

    p {
      font-size: 1.6vmax;
    }

    /* BUTTON */
    .jumbotron__BtnL {
      svg {
        width: 3.2vmax;
        height: 3.2vmax;
      }
    }

    .jumbotron__BtnR {
      svg {
        width: 3.2vmax;
        height: 3.2vmax;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  /* COLUMN_2 */
  #app .jumbotron .col-md:nth-child(2) .container {
    h1 {
      font-size: 4vmax;
    }

    p {
      font-size: 1.8vmax;
    }

    /* BUTTON */
    .jumbotron__BtnL {
      svg {
        width: 3.5vmax;
        height: 3.5vmax;
      }
    }

    .jumbotron__BtnR {
      svg {
        width: 3.5vmax;
        height: 3.5vmax;
      }
    }
  }
}
